.slider{
  height: 200px; /* zmiana z 250 na 200 bo przy 250 widac czesc 2 obrazka */
  width: 400px;
  overflow: hidden;
}

.slider ul{
  position: relative;
  list-style: none;
  width: 3228px;
  margin: 0;
  padding: 0;
}

.slider li{
  display: inline-block;
}


/*Obecnie dla ul ustawione jest width na szerokosc wszystkich obrazkow a tak tez nie mialo byc*/